.conteiner {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    &--centering{
        display: flex;
        align-items: center;
    }
    &--centering-baseline{
        display: flex;
        align-items: baseline;
    }
}